*~
.*.sw?
themes/Faenza/16/
themes/Faenza/22/
themes/Faenza/24/
themes/Faenza/32/*.png
themes/Faenza/48/*.png
themes/Faenza/64/*.png
themes/Faenza/96/
themes/Faenza/scalable/
themes/Faenza-Dark/16/
themes/Faenza-Dark/22/
themes/Faenza-Dark/24/
themes/Faenza-Dark/32/
themes/Faenza-Dark/48/
themes/Faenza-Dark/64/
themes/Faenza-Dark/96/
themes/Faenza-Dark/scalable/
